<?xml version="1.0" encoding="utf-8"?>
<!--
Solution settings for Google Test Adapter

Documentation: https://github.com/csoltenborn/GoogleTestAdapter

Original settings file: https://raw.githubusercontent.com/csoltenborn/GoogleTestAdapter/master/GoogleTestAdapter/Resources/AllTestSettings.gta.runsettings

This file demonstrates issue [#199 of GoogleTestAdapter](https://github.com/csoltenborn/GoogleTestAdapter/issues/199).
-->
<RunSettings>
  <GoogleTestAdapterSettings>
    <SolutionSettings>
      <Settings>
        <!--
        Setting WorkingDir under SolutionSettings works correctly.
        Uncomment the following option to change the working directory
        from $(ExecutableDir) ("Debug") to $(SolutionDir) (".").
        -->
        <!--<WorkingDir>$(SolutionDir)</WorkingDir>-->
      </Settings>
    </SolutionSettings>
    <ProjectSettings>
      <Settings ProjectRegex="GoogleTestAdapter_199\.exe">
        <!-- We specify TimestampOutput to a non-default value to check whether these options affect the project. -->
        <TimestampOutput>true</TimestampOutput>
        <!--
        Setting WorkingDir under ProjectSettings does nothing.
        Even with this option in place, the test program
        runs in $(ExecutableDir) ("Debug") instead of $(SolutionDir) (".").
        -->
        <WorkingDir>$(SolutionDir)</WorkingDir>
      </Settings>
    </ProjectSettings>
  </GoogleTestAdapterSettings>
</RunSettings>
